<app-toolbar [title]="'My Website'">
  
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Contact</a>
</app-toolbar>

------------------------------

<app-card
 [title]="'Angular Card'"
  [subtitle]="'My Sub Title'" 
  [icon]="''"
  [hasFooter]="true">

  <div class="card-body">
    <p>This is the card body</p>
  </div>

  <div class="card-footer">
    <p> This is the card footer</p>
  </div>
</app-card>

-----------------------------


<app-accordion [items]="items"></app-accordion>


----------------------------------------

<app-credit-card-formatter> </app-credit-card-formatter>